<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom"
         [disableDefaultUI]="true"
         [zoomControl]="true"
         (centerChange)="onCenterChange($event)">

  <agm-marker *ngFor="let hotel of hotels$ | async; let i = index; trackBy: hotelTrackByFunction"
              (markerClick)="clickedMarker(hotel.label, i)"
              [latitude]="hotel.lat"
              [longitude]="hotel.lng"
              [label]="i">

    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>

  </agm-marker>

</agm-map>