<div class="container"
     *ngIf="{ loading: loading$ | async,
              hotels: hotels$ | async
            } as vm">
  <h1 class="header">Places</h1>
  <div class="hotels-list"
       *ngIf="!vm.loading; else loading">
    <div class="hotel-card"
         *ngFor="let hotel of vm.hotels; trackBy: hotelTrackByFunction">
      <h3 class="card-title">
        {{ hotel.title }}
      </h3>
      <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nemo nihil vitae officiis! Nam eos laudantium quia
        minima iste
      </p>
    </div>
  </div>
  <ng-template #loading>Loading...</ng-template>
</div>